<table class="table table-hover table-bordered">
	<tr>
		<th>Select</th>
		<th>Name</th>
		<th>Times Completed</th>
	</tr>
	<% @exercise.each do |exercise| %>

		<tr>
			<td><%= check_box_tag exercise.id, exercise.id, false, class: 'chkNumber' %></td>
			<td><%= exercise.name %></td>
			<td><%= exercise.description %></td>
		</tr>
	<% end %>
</table>
<%= will_paginate @exercise %>