<div class="row">
	<div class="col-md-4">
		<%= render "users/userinfo" %>
		<%= render "posts/post_form" %>
		<%= render "goals/goalviewindex" %>
	</div>
	<div class="col-md-8">
		<h1>Edit Workout</h1>
		<p>Fill out the following accordingly</p>

		<p>&nbsp;</p>


		<%= render "form" %>
		
	</div>
</div>