<h1>Workouts#index</h1>
<table>
	<tr>
		<th>Set</th>
		<th>Exercise</th>
		<th>Rep</th>
	</tr>
<% @workouts.each do |f| %>
	<tr>
		<td><%= f.workoutset.id %></td>
		<td><%= f.workoutset.exercise %></td>
		<td><%= f.workoutset.rep %></td>
	</tr>
<% end %>
</table>