<div class="row">
	<div class="col-md-4">
		<%= render "users/showuserinfo" %>
		<%= render "goals/goalviewshow" %>
	</div>
	<div class="col-md-8">
		<%= render "goals/goalform" %>
		<h1><%= @user.name %></h1>
		<p>Find me in app/views/users/show.html.erb</p>
	</div>
</div>
