<nav class="navbar-default navbar-static-bottom">

<div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div>
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">

<ul class="nav navbar-nav">
    <li><a href="#top" class="">Top</a></li>
    <li><%= link_to "Home", root_path %></li>
    <li><%= link_to "About Us", aboutus_path %></li>
    <li><%= link_to "Terms and Service", terms_path %></li>
    <li><%= link_to "Privacy Policy", privacy_path %></li>
</ul>

  </div>
</nav>