<div class="panel panel-default" id="post-<%= post.id %>" >
	<div class="panel-heading">
		Posted <%= time_ago_in_words(post.created_at) %> ago.
	</div>
	<div class="panel-body">
		<%= auto_link(post.content).html_safe %>
	</div>
  		<% if current_user == post.user %>
  	<div class="panel-footer">
		<%= link_to "", post_path(post), :method => :delete, class: "glyphicon glyphicon-trash" %>
  	</div>
		<% end %>
</div>
